# Dependencias
node_modules/

# Build
dist/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
*.log

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
